<%
text ||= 'View a random retirement'

if Retirement.count > 1
  random_retirement_hash_id =
    if @retirement.persisted?
      Retirement.where.not(id: @retirement.id).random.hashid
    else
      Retirement.random.hashid
    end
else
  random_retirement_hash_id = nil
end
%>

<p class="other_retirement_links">
  <% if random_retirement_hash_id.present? %>
    <%= link_to text, retirement_url(id: random_retirement_hash_id), rel: 'nofollow' %>
  <% end %>
  <% if local_assigns[:show_new] %>
    <span class="divider">&middot;</span>
    <%= link_to 'Get your retirement countdown', root_url %>
  <% end %>
</p>
