@import "../../../init/config/colors.css";

.other_retirement_links {
	text-align: center;
	padding-top: 4rem;
	margin-top: 4rem;
	position: relative;
}

.other_retirement_links a {
	display: inline-block;
	margin: 0 0 1rem;
}

.other_retirement_links .divider {
	display: none;
}

@media screen and (min-width: 600px) {
	.other_retirement_links a {
		width: auto;
		margin: 0;
	}
	.other_retirement_links .divider {
		display: inline-block;
		margin: 1rem;
	}
}

.other_retirement_links::before,
.other_retirement_links::after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) rotate(-15deg);
	transform-origin: center;
}

.other_retirement_links::before {
	top: -8px;
	width: 8px;
	height: 18px;
	background: var(--nebula-dark);
}

.other_retirement_links::after {
	width: 8px;
	top: -5px;
	height: 8px;
	border-radius: 8px;
	background-color: var(--nebula-dark);
	border: 2px solid var(--nebula-dark);
	box-shadow: 0 0 0 1px var(--tidal), 0 0 0 3px #fff inset;
}
