@import "../../../init/config/colors.css";

.other_retirement_links {
	text-align: center;
	margin-top: 4rem;
	position: relative;
}

.other_retirement_links a {
	display: inline-block;
	margin: 0 0 1rem;
}

.other_retirement_links .divider {
	display: none;
}

@media screen and (min-width: 600px) {
	.other_retirement_links a {
		width: auto;
		margin: 0;
	}
	.other_retirement_links .divider {
		display: inline-block;
		margin: 1rem;
	}
}
