<footer role="contentinfo">
  <div class="wrapper">
    <p>
      ©<%= Time.current.year %> <a href="https://michaelbester.com">Michael Bester</a> &middot; <%= link_to  "What The Heck Is This?", about_url %>
    </p>
  </div>
</footer>
