@import "../../../init/config/colors.css";

footer[role="contentinfo"] {
	text-align: center;
	width: 100%;
	background: linear-gradient(0deg, var(--blue), var(--blue-light));
	border-top: 1px solid var(--blue);
	margin-top: 4rem;
}

footer[role="contentinfo"] .wrapper {
	max-width: 800px;
	padding: 1.5rem;
	margin: 0 auto;
}

@supports (padding: max(0px)) {
	footer[role="contentinfo"] .wrapper {
		padding-bottom: max(1.5rem, env(safe-area-inset-bottom));
	}
}

footer[role="contentinfo"] p {
	margin: 0;
}
