:root {
	--base: hsl(212, 100%, 100%);

	--blue-pale: hsl(212, 80%, 99%);
	--blue-light: hsl(212, 98%, 88%);
	--blue: hsl(212, 87%, 69%);
	--blue-medium: hsl(212, 66%, 50%);
	--blue-dark: hsl(212, 50%, 40%);

	--nebula-light: hsl(217, 37%, 91%);
	--nebula: hsl(217, 21%, 82%);
	--nebula-medium: hsl(217, 11%, 54%);
	--nebula-dark: hsl(217, 8%, 30%);
}
