:root {
	--tidal-light: hsl(53, 91%, 87%);
	--tidal: hsl(53, 73%, 79%);
	--tidal-medium: hsl(53, 53%, 69%);
	--tidal-dark: hsl(53, 38%, 52%);

	--nebula-light: hsl(217, 37%, 91%);
	--nebula: hsl(217, 21%, 82%);
	--nebula-medium: hsl(217, 11%, 54%);
	--nebula-dark: hsl(217, 8%, 30%);
}
