@import "normalize.css/normalize.css";
@import "config/colors.css";

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 400;
	font-family: "ff-ernestine-pro", serif;
	color: var(--nebula-dark);
	font-variant-numeric: oldstyle-nums;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	user-select: none;
	overflow: hidden;
	background-color: var(--base);
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
}

footer[role="contentinfo"] {
	grid-row-start: 2;
	grid-row-end: 3;
}

/* Links */
a {
	color: var(--nebula-dark);
	text-decoration: none;
	display: inline-block;
	position: relative;
	outline: none;
}

a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: var(--blue-dark);
	transition: all 80ms ease-in-out;
}

a:hover::after,
a:focus::after {
	height: 3px;
}
