<article>
  <header>
    <h2>What The Heck Is This?</h2>
  </header>

  <p>This is just a silly site that gives you a countdown to your retirement. You enter your name and expected retirement date, and it generates a page that tells you exactly how many years, months, and days you have left to go before you can call it quits.</p>

  <p>Aside from maybe showing up as page you end up on to when clicking on the <em>view a random retirement</em> link, your page isn&#8217;t linked to from anywhere, nor should it be indexed by search engines. It&#8217;s just for you to do what you&#8217;d like with. Bookmark it, set it as your homepage, share it on your social media of choice, or just forget about it.</p>

  <h3>What&#8217;s My RetireCount™?</h3>

  <p>That&#8217;s simply shorthand for the number of years, weeks, and days you have left until retirement. For instance, if you retire in 12 years, 4 months, and 3 days, your RetireCount™ is <strong>12&#8211;4&#8211;3</strong>.</p>

  <h3>Yeah, But Why Did You Do This?</h3>

  <p>Just for fun, really.</p>

  <p>One of my very dear friends knows <em>exactly</em> when he can call it quits from his job, and is very much looking forward to that day. He gives me regular updates on his countdown. After hearing his status for the (approximately) seven hundred eighty six thousand three hundred fourty first time, I thought this would be a good thing to build, so here it is. In a sense, I built it for him.</p>

  <p>There may be deeper thinking behind this, too. Lately, I've been more reflective about the the time I have left to do whatever it is I&#8217;m supposed to be doing in my life. I&#8217;ve thought about building a Memento Mori clock too, even though many already exist. I&#8217;ve got <a href="https://chrome.google.com/webstore/detail/death-clock/nddjbfjdamhcmdcghehomomgppbigjam">this one</a> installed as my homepage in Chrome. Anyway, I digress.</p>

  <h3>Are You Tracking Me? What About My Privacy?</h3>

  <p>While I have installed <a href="https://analytics.google.com/">Google Analytics</a> on this site to keep tabs on the overall traffic here, I am not collecting any of your personally identifible information. The name and retirement date that you enter on the form is saved to a database so the site can show you your personal retirement countdown, but I don&#8217;t collect any information about you beyond that, as I value your privacy.</p>

  <h3>Does This Cost Anything?</h3>

  <p>Nope.</p>

  <h3>I&#8217;ve Got Questions/Comments For You</h3>

  <p>Feel free to send me an email at <a href="&#109;&#97;&#105;&#108;&#x74;&#111;&#x3a;&#x6d;&#x69;&#99;&#x68;&#x61;&#x65;&#x6c;&#64;&#107;&#105;&#109;&#105;&#108;&#105;&#46;&#x63;&#111;&#109;">&#x6d;&#x69;&#x63;&#x68;&#97;&#x65;&#x6c;&#64;&#107;&#105;&#x6d;&#105;&#x6c;&#x69;&#x2e;&#99;&#x6f;&#109;</a> and say hello! Alternatively, if you&#8217;re on Twitter, you can can reach me there at <a href="https://twitter.com/mibester">@mibester</a>.</p>

  <p>All Good Things,<br/>
  &#8211; <a href="https://michaelbester.com">Michael Bester</a></p>

</article>
