<% return unless errors.any? %>
<div class="form_errors">
  <h3>
    Oh man, you gotta fix these <%= pluralize(errors.count, "error") %>:
  </h3>
  <ul>
  <% errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
