<% content_for :title, "What’s Your Retirement Date" %>

<%= component 'page' do %>
  <h1>
    Your Retirement Date
  </h1>
  <p>
    Tell us when you expect to retire, and we’ll tell you exactly how long you’ve got to go!
  </p>
  <%= component 'retirement/form' %>
<% end %>
