<header role="banner">
  <h1>
    <a href="<%= root_url %>" class="branding">
      <img src="<%= asset_pack_path('images/logo.svg') %>" alt="How Long Before I Retire?">
    </a>
  </h1>
  <h2 class="slogan">
    Count Down to Calling It&nbsp;Quits
  </h2>
</header>
