@import "../../../init/config/colors.css";

header[role="banner"] {
	margin: 0 0 2rem;
	padding: 1rem 1.5rem 3rem;
	text-align: center;
	position: relative;
	overflow: hidden;
}

header[role="banner"]::after {
	content: "";
	position: absolute;
	width: 2400px;
	height: 2200px;
	border-radius: 99999px;
	background: linear-gradient(175deg, var(--blue) 75%, var(--blue-light) 97%);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border: 1px solid var(--blue);
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

header[role="banner"] h1 {
	margin: 0;
}

.branding {
	display: inline-block;
	border: none;
	max-width: 80vw;
}

.branding::after {
	display: none;
}

.branding img {
	max-width: 100%;
}

.branding:hover {
	animation-name: wiggle;
	animation-duration: 800ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.slogan {
	font-size: 2rem;
	font-style: italic;
	margin: -1rem 0 0;
}

@media screen and (min-width: 500px) {
	.slogan {
		font-size: 2.4rem;
	}
}

@keyframes wiggle {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.03);
	}
	25% {
		transform: scale(1.03) rotate(-3deg);
	}
	35% {
		transform: scale(1.03) rotate(3deg);
	}
	45% {
		transform: scale(1.03) rotate(3deg);
	}
	55% {
		transform: scale(1.03) rotate(-5deg);
	}
	65% {
		transform: scale(1.03) rotate(5deg);
	}
	75% {
		transform: scale(1.03) rotate(0deg);
	}
	85% {
		transform: scale(0.97);
	}
	100% {
		transform: scale(1);
	}
}
