.retirement-details {
	text-align: center;
	margin-top: 4rem;
}

.retirement-details h1 {
	font-size: 4.2rem;
	font-weight: 400;
	line-height: 0.9;
}

.retirement-details h1 strong {
	font-size: 8rem;
	font-style: normal;
}

.retirement-details h1.yay {
	font-weight: 700;
	font-size: 4.8rem;
}

.retirement-details p {
	font-size: 2.4rem;
}
